<% provide(:title, @club.name) %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag 'static_pages', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'static_pages', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="page-wrapper">
      <%= render "shared/header" %>
      <div id="main" class="wrapper style1">
          <div class="container">
            <header class="major">
              <% if @club.logo? %>
                        <span class="image">
                          <%= image_tag @club.logo.url %>
                        </span>
                      <% else %>
                        <span class="image"><%= gravatar_for @club %></span>
                      <% end %>
              <h2><%= @club.name %></h2>
              <p>Lanzhou University Open Source Society</p>
            </header>
            <div class="row 150%">
              <div class="4u 12u$(medium) important(medium)">
                <!-- Sidebar -->
                  <section id="sidebar">
                    <h3 class="border-bottom">社团管理</h3>
                    <div class="table-wrapper">
                      <table class="alt">
                        <!-- <thead>
                          <tr>
                            <th>Name</th>
                          </tr>
                        </thead> -->
                        <tbody>
                          <tr>                        
                            <td>社团信息</td>
                          </tr>
                          <tr>
                            <td>成员管理</td>
                            
                          </tr>
                          <tr>
                            <td>活动发布</td>
                            
                          </tr>
                          <tr>
                            <td>留言评论</td>
                            
                          </tr>
                          <tr>
                            <td><%= link_to "更改信息", edit_club_path(@club)%></td>
                            
                          </tr>
                        </tbody>
                      </table>
                    </div> 
                    <section>
                      <a href="#" class="image fit"><%= image_tag "static_pages_images/pic10.jpg" %></a>
                      <h3 class="border-bottom">社团简介</h3>
                      <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                      <footer>
                        <ul class="actions">
                          <li><a href="#" class="button">Learn More</a></li>
                        </ul>
                      </footer>
                    </section>
                  </section>

              </div>
              <div class="8u$ 12u$(medium)">
                <!-- Content -->
                  <section id="content">
                    <h3 class="border-bottom">最新通知</h3>
                    <ul class="link-list border-bottom ">    
                    </ul>
                    <h3>Sed Magna Ornare</h3>
                    <p>In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in odio vulputate luctus. Suspendisse euismod lorem eget lacinia fringilla. Sed sed felis justo. Nunc sodales elit in laoreet aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi rutrum metus.</p>
                    <ul>
                      <li>Faucibus orci lobortis ac adipiscing integer.</li>
                      <li>Col accumsan arcu mi aliquet placerat.</li>
                      <li>Lobortis vestibulum ut magna tempor massa nascetur.</li>
                      <li>Blandit massa non blandit tempor interdum.</li>
                      <li>Lacinia mattis arcu nascetur lobortis.</li>
                    </ul>
                  </section>
                  <section id="content">
                    <h3 class="border-bottom">社团信息</h3>
                    <label>社团名称：</label>
                    <label>社团类别：</label>
                    <label>社团介绍：</label>
                  </section>
                  <section id="content">
                    <h3 class="border-bottom">成员管理</h3>
                    <label>社长：</label>
                    <label>副社长：</label>
                    <label>成员：</label>
                  </section>
                  <section id="content">
                    <h3 class="border-bottom">活动发布</h3>
                    <ul class="link-list border-bottom ">
                        <li>
                          <p>
                            活动一：XXXXXXXXXXX
                            <p class="margin-zero">2016-8-1 UTC</p>
                          </p>
                        </li>
                        <li>
                          <p>
                            活动二：XXXXXXXXXXX
                            <p class="margin-zero">2016-8-1 UTC</p>
                          </p>
                        </li>
                        <li>
                          <p>
                            活动三：XXXXXXXXXXX
                            <p class="margin-zero">2016-8-1 UTC</p>
                          </p>
                        </li>
                        <li>
                          <p>
                            活动四：XXXXXXXXXXX
                            <p class="margin-zero">2016-8-1 UTC</p>
                          </p>
                        </li>
                        <li>
                          <p>
                            活动五：XXXXXXXXXXX
                            <p class="margin-zero">2016-8-1 UTC</p>
                          </p>
                        </li>
                    </ul>                  
                  </section>
              </div>
            </div>
          </div>
        </div>
      <%= render "shared/footer" %>
    </div>
  </body>